/* Générale */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-link-blue{

  color:#0065FC;
}

.color-link-background{
  color: #F2F2F2;
}

.color-link-grey{
  color: #414244;
}

.none-decoration{
  text-decoration: none;
}


#head-logo-nav{
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-size{
  width: 45%; /*45% par rapport à son éléments parents .nav-bar-link */
}

.link-size-2{ /*largeur de chaques liens et hauteur */
width: 140 px ;
height: 99px;
}

.bordur-nav-bar{
  border: 1px solid blue;
}

.logo{
  border: 2px solid green;
}

.nav-bar-link{
  border-top: 2px solid blue;
}


/*Nagivation Bar */
/*
#head-logo-nav{
    display:flex;
    justify-content: space-between;
}

#nav{
    display: flex;
    justify-content: space-between;
    list-style: none;  
    
}

nav ul li
{
 margin:0 45px; 
 
}

a{
    text-decoration: none;
}
 
.blue-stars{
  color:#0065FC;
  
}


.grey-stars{

  color: #DEEBFF; 

}

#map-locality{
    display: flex;
    justify-content: start;
    
}

#filters{
    display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  /*Filtres css*/
/*
  .btn:hover {
    color: #0065fc;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  button {
    text-decoration: none;
    border: none;
    background: transparent;
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 2px 0 15px;
    border: 2px solid #f2f2f2;
    padding-left: 40px;
    border-radius: 25px;
    font-weight: 600;
  }

  /* Bouton */
/*
  .btn i {
    background-color: #deebff;
    position: absolute;
    width: 45px;
    height: 45px;
    text-align: center;
    left: -10px;
    padding-top: 15px;
    border-radius: 25px;
  }

  .popular-card{
    display: flex;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
  */